body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    color: whitesmoke;
}


.chao{
    flex-direction: column;
    color: whitesmoke;
}

.chao img{
    width:15px;
    height: 14px;
}